* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #545454;
}

ul {
  width: 80%;
  margin: 20px auto;
  list-style: none;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
